html{
 background: #deefff;
background: -moz-linear-gradient(top,  #deefff 0%, #98bede 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deefff), color-stop(100%,#98bede));
background: -webkit-linear-gradient(top,  #deefff 0%,#98bede 100%);
background: -o-linear-gradient(top,  #deefff 0%,#98bede 100%);
background: -ms-linear-gradient(top,  #deefff 0%,#98bede 100%);
background: linear-gradient(to bottom,  #deefff 0%,#98bede 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 );

}

#self-photo{
  border: solid white 0.1em;
  float:top;
  display:inline-block;
  margin:0em;
  padding:0em;
  padding-bottom:0;

}
body{
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0;
  margin-top:0;
  background-color:#E9FFFF;
  color:#16005c;
  width:70%;
  padding:2em;
  padding-top:0em;
  height:100%;
  font-family:"Lato";
  border: solid #cccccc 2px;
  border-top:0px;
}

p{
  width:82%;
}

#header{
  background:url(../imgs/kaneoheJJ2.png);
  height:380px;
  border:1px solid #199C78;
  width: 80%;
}

#github{
  background:url(../med-svg/github.svg);
  width:3em;
  height:3em;
  display:inline-block;

}
#facebook{
  background:url(../med-svg/facebook-square.svg);
  width:3em;
  height:3em;
  display:inline-block;

}
#twitter{
  background:url(../med-svg/twitter.svg);
  width:3em;
  height:3em;
  display:inline-block;

}
#linkedin{
  background:url(../med-svg/linkedin.svg);
  width:3em;
  height:3em;
  display:inline-block;

}
#mail{
  background:url(../med-svg/mail.svg);
  width:3em;
  height:3em;
  display:inline-block;
}
#home{
  background:url(../imgs/svg-b/home.svg);
  width:2em;
  height:2em;
  display:inline-block;
  padding-top:-1em;
}