html{
 font-size: 1.3em;
 background: #f5f6f6;
background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 0%, #6ccc84 46%, #0da84d 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(0%,#dbdce2), color-stop(46%,#6ccc84), color-stop(100%,#0da84d));
background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 0%,#6ccc84 46%,#0da84d 100%);
background: -o-linear-gradient(top,  #f5f6f6 0%,#dbdce2 0%,#6ccc84 46%,#0da84d 100%);
background: -ms-linear-gradient(top,  #f5f6f6 0%,#dbdce2 0%,#6ccc84 46%,#0da84d 100%);
background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 0%,#6ccc84 46%,#0da84d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#0da84d',GradientType=0 );
padding:0;
}

#short{
  height:100vh;
}

#culture ul{
  z-index:150;
  display:inline-block;
}
#culture li{
  border:1px solid black;
  width: 30%;
}
#tech ul{
  z-index:150;
  display: inline-block;
}
#tech li{
  border:1px solid black;
  width: 30%;
}
.highlighted{
  background-color:#99d7ff;
}
.tmenu_button,.cmenu_button{
  z-index:150;
  text-align:center;
  background-color:#bce0d9;
  display:inline-block;
  border:1px solid black;
  border-radius:1%;
  padding:0.3em;
  margin:1em;
  position:relative;
}
.tmenu{
  right:10em;
  top:5em;
}
.cmenu{
  right:20em;
  top:5em;
}
#nav{
 margin-left:50%;
 margin-right:10%;
 text-align:center;
 border: solid #6c9188 0.2em;
 border-bottom:solid black 0em;
 border-radius: 1em 1em 0 0;
 background-color:#80b29b;
 width: ;
 margin-bottom:-1.1em;
 height: 3em;
}


div>p{
  vertical-align:top;
  padding:0.1em;
}

#body{
  margin-top:1.1em;
  margin-bottom:1em;
  margin-left:3%;
  margin-right:0em;
  background-color:white;
  border:solid #6c9188 0.2em;
  border-right-width:0em;
  border-radius:3em 0em 0em 3em;
  width: 85%;
  padding-right: 10%;
  padding-left: 2%;
  padding-bottom:2em;
  font-size:1.1em;
  height:100%;
}
#body p{
  width:60%;
}
#bodyc{
  margin-top:4em;
  margin-bottom:1em;
  margin-left:15%;
  margin-right:15%;
  background-color:white;
  border:solid #6c9188 0.2em;
  border-radius:3em 3em 0em 0em;
  width: 70%;
  padding-right: 10%;
  padding-left: 2%;
  padding-bottom:;

  height:90vh;
}

#left {
    float:left;
    width: 8%;
    text-align:center;
    border-radius:1em;
background-color: #cbe8eb;
padding:1em;
/*display:inline-block;*/
border:solid black 0.1em;
background: #f5f6f6;
background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6));
background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
background: -o-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
background: -ms-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );
}
#right {
    float:right;
    width: 8%;
    text-align: center;
    border-radius:1em;
padding:1em;
border:solid black 0.1em;
background: #f5f6f6;
background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6));
background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
background: -o-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
background: -ms-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );
}
#center{
    float: left;
    width: 8%;
    text-align: center;
    border-radius:1em;
padding:1em;
margin-left:27%;
margin-right:27%;
border:solid black 0.1em;
background: #f5f6f6;
background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6));
background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
background: -o-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
background: -ms-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );

}

#center2{
    position:static;
    width: 10%;
    text-align: center;
    border-radius:1em;
/*background-color: #cbe8eb;*/
padding:2em;
margin-left:42%;
margin-right:;
border:solid black 0.1em;
background: #f5f6f6;
background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6));
background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
background: -o-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
background: -ms-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );
}
#codeblock{
  background-color: #e8e8e8;   /* contains groups of code-lines */
  border: 0px;
  text-align:left;
  padding-top:0;
  width:70%;
}

code{
  background-color: #e8e8e8;    /* individual lines of code */
}
summary{
    background-color:#e8e8e8;
    border:solid 0.1em black;
    width:100%;
    margin-bottom:0em;
    margin-top:0em;
    padding-top:0em;
    padding-bottom:0.5em;
    background: #f5f6f6;
background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6));
background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
background: -o-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
background: -ms-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );

}
details{
    background-color:white;
    margin-bottom:0em;
    padding-bottom:0em;
    /*border-bottom:solid #393939 1px;*/
}
details>p{
  margin:0em;
  padding:0.5em;
  background: #f5f6f6;
  border-radius:1em;
  border: solid 0.1em black;
background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6));
background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
background: -o-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
background: -ms-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );

  /*border-bottom:solid #393939 0.05em;*/
}
a{
  color: red;
  font-weight: bold;
  text-decoration: none;
  }
a:hover{
  font-weight: bolder;
  color:#CF0545;
}
a:visited{
  color:#6804CF;
};
a:visted:hover{
  color:#6804CF;
  font-weight: bolder;
}
.array-methods{
 background:url(../imgs/tech-blog-3.svg);
 height:20em;
 width:35em;
}

#github{
  background:url(../imgs/svg-b/github.svg);
  width:3em;
  height:3em;
  display:inline-block;
}
#facebook{
  background:url(../imgs/svg-b/facebook-square.svg);
  width:3em;
  height:3em;
  display:inline-block;

}
#twitter{
  background:url(../imgs/svg-b/twitter.svg);
  width:3em;
  height:3em;
  display:inline-block;

}
#linkedin{
  background:url(../imgs/svg-b/linkedin.svg);
  width:3em;
  height:3em;
  display:inline-block;

}
#mail{
  background:url(../imgs/svg-b/mail.svg);
  width:3em;
  height:3em;
  display:inline-block;
}

#header{
  text-decoration:underline;
  text-align: center;
  font-weight:bold;
}
h1{
  font-weight:bold;

}
h2{
  font-weight:bold;
}
#culture{
  text-align:center;
}