#title {
 border: 0.5em inset;
 border-color: #FFC600;
 background-color:#FFDA61;
 padding: 1em;
 margin-bottom: 3px;
 width: 13em;
 margin-left:auto;
 margin-right:auto;
 text-align:center;
 font-size: 2em;
}

html{
  background-color: #E9FFFF;
}

.header{
  top:3em;
  left:3em;
  font-size:2em;
  font-family:Amaranth,Josefin Slab;
}

.footer{
  width:50%;
  left:25%;
  bottom:0px;
}
#nav{
 margin-left:auto;
 margin-right:auto;
 text-align:center;
 border-color: #FFC600;
 background-color:#FFDA61;
 width: 13.5em;
}

#green-topbar{
  background-color:#2E7583/*#81FFAF*/;
  top:0px;
  width:100%;
  height:30%;
  display: inline-block;
  margin:-1em;
  margin-bottom:0em;
  padding-bottom:1em;
  padding-right:5em;
  /*border-bottom: dashed #586E82 /*#516578*/;

}
#blue_rectangle{
background-color: #6A9FE8;
width:20%;
height:20%;
top:25px;
left:0px;
border-radius:1em;
text-align:center;
display: inline-block;
font-size:2em;
font-family: Amaranth,Josefin Slab;
position:absolute;
padding-top:1em;
}

.body{
  font-family:Sintony,Josefin Slab;
  font-size:1.5em;
  width:45%;
  color: #00072E;
  padding-left:25px;
  padding-right:25px;
  padding-top:25px;
  background-color: #E9FFFF;
  border-radius: 2em;
  height:100%; /*height: 100vh;*/
  display:inline-block;
  float:left;
}

tb{
  margin-left:1em;
}

.stuff1{
  right:40em;
  top:5em;
  display:inline-block;
  padding:0.5em;
  padding-bottom:1em;
  height:2em;
  position:absolute;
  border: solid #25009C;
  background-color:#008AFF;
  border-radius:2em;
}
.stuff2{
  right:21.5em;
  top:5em;
  display:inline-block;
  padding:0.5em;
  padding-bottom:1em;
  height:2em;
  position:absolute;
  border: solid #25009C;
  background-color:#008AFF;
  border-radius:2em;
}
.stuff3{
  right:3em;
  top:5em;
  display:inline-block;
  padding:0.5em;
  padding-bottom:1em;
  height:2em;
  position:absolute;
  border: solid #25009C;
  background-color:#008AFF;
  border-radius:2em;
}
#item1{
  border-radius:1em;
  border: solid #64E9FF ;
  width: 7em;
  font-size: 2em;
  position:static;
  right:0em;
  top:15em;
  margin-top:0em;
  margin-bottom:2em;
  padding-top:2px;
  margin-right:0em;
  background-color: white;
}

#item2{
  border-radius:1em;
  border: solid #64E9FF ;
  width: 7em;
  font-size: 2em;
  position:static;
  right:0em;
  margin-top:0em;
  padding-top:2px;
  margin-right:0em;
  background-color:white;
}
#item3{
  border-radius:1em;
  border: solid #64E9FF ;
  width: 7em;
  font-size: 2em;
  position:static;
  right:0em;
  margin-top:0em;
  padding-top:2px;
  margin-right:0em;
  background-color:white;
  font-family:jura ;
}

a{
  text-decoration:none;
  color:#4600A6;
  text-align:center;
}
a:hover{
  color:red;
}

a:visited{
  color:#81FFAF;
}

#socialM{
  background-color: #9DDDF2;
  border-radius-left: 3em;
}

#github{
  background:url(../med-svg/github.svg);
  width:3em;
  height:3em;
  display:inline-block;

}
#facebook{
  background:url(../med-svg/facebook-square.svg);
  width:3em;
  height:3em;
  display:inline-block;

}
#twitter{
  background:url(../med-svg/twitter.svg);
  width:3em;
  height:3em;
  display:inline-block;

}
#linkedin{
  background:url(../med-svg/linkedin.svg);
  width:3em;
  height:3em;
  display:inline-block;

}
#mail{
  background:url(../med-svg/mail.svg);
  width:3em;
  height:3em;
  display:inline-block;
}

#Useful{
 font-size: 1.5em;
}